#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

buildvers := $(shell pyversions -sv)

override_dh_auto_build:
	dh_auto_build
	cd catnip-node/usr/lib/catnip-node; gcc -Wall -Werror -O2 -o newpid newpid.c

override_dh_auto_clean:
	dh_auto_clean
	rm -f catnip-node/usr/lib/catnip-node/newpid
	rm -rf catnip.egg-info

override_dh_fixperms:
	dh_fixperms
	chmod 440 debian/catnip-node/etc/sudoers.d/10-catnip-node

override_dh_install:
	dh_install
	set -e && for i in $(buildvers); do \
	  python$$i setup.py install --install-layout=deb --root $(CURDIR)/debian/catnip-common; \
	done

%:
	dh $@ --with python2
